__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml
# !.streamlit/config.toml  <-- This won't work if .streamlit/ is ignored

# Folders
# recipes/ (Keep this)
temp_scan.jpg
.env
venv/
env/
.DS_Store
